body {
    font-family: 'Poppins', sans-serif;
    background: #F3F1FF;
    ;
}

main {
    display: flex;
    justify-content: center;
}

.container {
    background-color: #FFFFFF;
    width: 870px;
    height: 679px;
    padding: 30px;
}

.section-title {
    color: #562EFF;
    font-size: 24px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*or grid-template-colums: 1fr 1fr 1fr*/
}

.player {
    display: flex;
    align-items: center;
}

.player img {
    width: 56px;
    height: 56px;
}

.player-name {
    margin-left: 16px;
}